.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 40px;
}
.contact-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #3d3d3d;
  margin-top: 10px;
  margin-bottom: 10px;
}
.social-media-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  list-style-type: none;
}
.item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.logo {
  width: 60px;
}
